<div class="row-fluid">

  <div class="span4">
  	<ul class="nav nav-tabs nav-stacked">
	    <li class="active"><a href="#">Home</a></li>
	    <li><a href="#">Profile</a></li>
	    <li><a href="#">Messages</a></li>
	</ul>
  </div>
  <div class="span8">
  	
  	<form>
	  <fieldset>
	    <legend>Name</legend>
	    <label>联系电话:</label>
	    <input type="text" placeholder="电话号码">
	    <label>QQ号码:</label>
	    <input type="text" placeholder="QQ号码">
	  </fieldset>
	</form>
  	
  </div>
</div>

